<div class="columns is-multiline">
  <app-calculator class="column is-third"></app-calculator>
  <app-calculator class="column is-third"></app-calculator>

  <div class="column is-third">
    <app-sale>
      <app-calculator></app-calculator>
    </app-sale>
  </div>
</div>
