<div class="card">
  <div class="card-content">
    <div class="content">

      <label class="label">Title</label>
      <p class="control">
        <input class="input" type="text" placeholder="Book title" [(ngModel)]="book.title">
      </p>

      <label class="label">Total pages</label>
      <p class="control">
        <input class="input" type="number" [(ngModel)]="book.totalPages">
      </p>

      <label class="label">Color pages</label>
      <p class="control">
        <input class="input" type="number" [(ngModel)]="book.colorPages">
      </p>

      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <p class="subtitle is-5">
              Current price: <strong>{{getPrice()}} Kč</strong>
            </p>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <button class="button is-primary" (click)="saveCalculation()">Save</button>
          </div>
        </div>
      </nav>

      <div *ngIf="getCalculations().length">
        <h3>Saved calculations</h3>
        <ul>
          <li *ngFor="let calculation of getCalculations()">
            {{calculation.title}}, {{calculation.totalPages}} pages ({{calculation.colorPages}} color) - <strong>{{calculation.price}}
            Kč</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
