<div class="block">
  <button class="button"
          *ngFor="let tab of tabs"
          (click)="selectTab(tab)"
          [class.is-primary]="!tab.hidden"
  >{{tab.header}}
  </button>

</div>

<hr/>

<ng-content></ng-content>
