<div class="tabs is-centered">
  <ul>

    <li routerLinkActive="is-active">
      <!--TODO 2.9 - vytvořte odkaz na /chat-->
      <a>Rooms</a>
    </li>

    <li routerLinkActive="is-active" *ngFor="let room of rooms$ | async | slice : 0:3">
      <!--TODO 2.9 - vytvořte odkaz na detail chat room-->
      <a>{{room.title}}</a>
    </li>
  </ul>
</div>

<!--TODO 2.3 - přidejte zanořený outlet-->
