<h3 class="subtitle">Template driven form</h3>

<!-- TODO 1.4 - pojmenujte instanci formuláře -->
<!-- TODO 1.6 - odešlete formulář -->
<form novalidate>

  <label class="label" for="userName">Name</label>
  <div class="control">

    <!--TODO 1.1 - doplňte ngModel - user.name a pojmenujte pole-->
    <!--TODO 1.3 - pojmenujte instanci ngModel-->

    <input class="input" id="userName" type="text"
           required

    />

    <!--TODO 1.5 - podmiňte validační hlášku-->
    <!--TODO 1.5.1 - upravte podmínk pro zobrazení hlášky-->
    <span class="help is-danger">
      Name is required
    </span>

  </div>

  <!--TODO 1.3.1 - použijte ladící pomůcku-->
  <!--<app-form-metadata-viewer [control]="userNameControl"></app-form-metadata-viewer>-->

  <label class="label" for="userSurname">Surname</label>
  <div class="control">

    <!--TODO 1.2 - doplňte ngModel - user.surname-->
    <!--TODO 1.5.2 - pojmenujte instanci ngModel-->
    <input class="input" id="userSurname" type="text" name="surname"
           required

    />
    <!--TODO 1.5.2 - použijte kompoenntu pro validace-->

  </div>

  <label class="label">Sex</label>
  <!--TODO 1.2 - doplňte ngModel- user.sex-->
  <div class="control">
    <input type="radio" value="male" name="sex"

    > Male

    <!--TODO 1.2 - doplňte ngModel- user.sex-->
    <input type="radio" value="female" name="sex"

    /> Female
  </div>

  <!--TODO 1.4.2 - vytvořte formulářovou skupinu-->
  <div>

    <label class="label" for="street">Street</label>
    <div class="control">
      <!--TODO 1.2 - doplňte ngModel- user.address.street-->
      <input class="input" id="street" type="text" name="street"

      />

    </div>

    <label class="label" for="city">City</label>
    <div class="control">
      <!--TODO 1.2 - doplňte ngModel- user.address.city-->
      <input class="input" id="city" type="text" name="city"

      />

    </div>

    <label class="label" for="postalCode">Postal code</label>
    <div class="control">
      <!--TODO 1.2 - doplňte ngModel- user.address.postalCode-->
      <!--TODO 1.5.3 - pojmenujte instanci ngModel-->
      <!--TODO 1.5.4 - přidejte validaci na minimální počet znaků -->
      <input class="input" id="postalCode" type="text" name="postalCode"
             required

      />

      <!--TODO 1.5.3 - použijte kompoenntu pro validace-->

    </div>

  </div>

  <div class="control buttons">
    <button class="button is-primary" type="submit">Submit</button>
  </div>

  <!--TODO 1.4.1 - odkomentujte ladící pomůcku-->
  <!--<app-form-metadata-viewer [control]="userForm"></app-form-metadata-viewer>-->
</form>


