<h3 class="subtitle">Template driven form</h3>

<form novalidate
      #userForm="ngForm"
      (ngSubmit)="formSubmit(userForm)">

  <label class="label" for="userName">Name</label>
  <div class="control">
    <input class="input" id="userName" type="text"
           required
           [(ngModel)]="user.name" name="name"
           #userNameControl="ngModel">
    <span *ngIf="userNameControl.errors?.required
                && (userNameControl.touched || userForm.submitted)"
          class="help is-danger">
      Name is required
    </span>

  </div>

  <label class="label" for="userSurname">Surname</label>
  <div class="control">
    <input class="input" id="userSurname" type="text"
           required
           [(ngModel)]="user.surname" name="surname"
           #userSurnameControl="ngModel">

    <app-form-model-errors [control]="userSurnameControl"></app-form-model-errors>

  </div>

  <label class="label">Sex</label>
  <div class="control">
    <input type="radio" value="male" name="sex"
           [(ngModel)]="user.sex"> Male

    <input type="radio" value="female" name="sex"
           [(ngModel)]="user.sex"> Female
  </div>

  <div ngModelGroup="address">

    <label class="label" for="street">Street</label>
    <div class="control">
      <input class="input" id="street" type="text"
             [(ngModel)]="user.address.street" name="street">
    </div>

    <label class="label" for="city">City</label>
    <div class="control">
      <input class="input" id="city" type="text"
             [(ngModel)]="user.address.city" name="city">
    </div>

    <label class="label" for="postalCode">Postal code</label>
    <div class="control">
      <input class="input" id="postalCode" type="text"
             [(ngModel)]="user.address.postalCode" name="postalCode"
             required minlength="5"
             #postalCodeControl="ngModel">

      <app-form-model-errors [control]="postalCodeControl"></app-form-model-errors>
    </div>

  </div>

  <div class="control buttons">
    <button class="button is-primary" type="submit">Submit</button>
  </div>

  <app-form-metadata-viewer [control]="userForm"></app-form-metadata-viewer>
</form>


