p.
  V tomto cvičení ...

h4 Spusťte Angular CLI
p.
  Následujícím příkazem spustíte aplikaci cvičení:

snippet.
  npm run 0X-start

p.
  Po spuštění poběží aplikace na adrese #[a(href="http://localhost:4200", target="_blank") localhost:4200].

h3 1 - ...
p.
  ...

snippet
  :highlight-js
    ...

ul.task
  li ...

solution
  :highlight-js
    ...
