<h3 class="subtitle">Reactive form</h3>

<form novalidate
      (ngSubmit)="onSubmit(userForm)"
      [formGroup]="userForm">

  <label class="label" for="userName">Name</label>
  <div class="control">
    <input class="input" id="userName" type="text"
           formControlName="name">
    <app-form-control-errors controlName="name"></app-form-control-errors>
  </div>

  <label class="label" for="userSurname">Surname</label>
  <div class="control">
    <input class="input" id="userSurname" type="text"
           formControlName="surname">

    <app-form-control-errors controlName="surname"></app-form-control-errors>
  </div>

  <label class="label">Sex</label>
  <div class="control">
    <input type="radio" value="male" name="sex" formControlName="sex"> Male

    <input type="radio" value="female" name="sex" formControlName="sex"> Female
  </div>

  <div formGroupName="address">

    <label class="label" for="street">Street</label>
    <div class="control">
      <input class="input" id="street" type="text"
             formControlName="street">
    </div>

    <label class="label" for="city">City</label>
    <div class="control">
      <input class="input" id="city" type="text"
             formControlName="city">
    </div>

    <label class="label" for="postalCode">Postal code</label>
    <div class="control">
      <input class="input" id="postalCode" type="text"
             formControlName="postalCode">

      <app-form-control-errors controlName="postalCode"></app-form-control-errors>

    </div>

  </div>

  <div class="control buttons">
    <button class="button is-primary" type="submit">Submit</button>
  </div>

</form>

<app-form-metadata-viewer [control]="userForm"></app-form-metadata-viewer>
