h4 Spusťte Angular CLI
p.
  Následujícím příkazem spustíte aplikaci cvičení:

snippet.
  npm run 07-start

p.
  Po spuštění poběží aplikace na adrese #[a(href="http://localhost:4200", target="_blank") localhost:4200].

h3 1 - Router outlet

h4 1.1 - vyměňte komponentu za router outlet

p.
  V #[em app.component.html] použijte outlet pro zobrazení routeru

solution
  :highlight-js
    <router-outlet></router-outlet>

h4 1.2 - přidejte závislost na routing modulu

p.
  Prohlédněte si #[em app-routing.module.ts] a importujte v #[em app.module.ts]

solution
  :highlight-js
    imports: [
      BrowserModule,
      FormsModule,
      HttpModule,
      ChatModule,

      AppRoutingModule
    ],

h3 2 - Definice rout

h4 2.1 - přidejte routu pro chat

p.
  Přidejte routu pro cestu #[strong chat], zobrazte #[strong ChatComponent]

solution
  :highlight-js
    path: 'chat', component: ChatComponent,

h4 2.2 - importujte routy

p.
  Importujte modul vytvořený ze rout feature modulu

solution
  :highlight-js
    imports: [RouterModule.forChild(routes)],

h4 2.3 - přidejte zanořený outlet

h4 2.4 - doplňte routu roooms
solution
  :highlight-js
    children: [
      {path: '', component: RoomsComponent}
    ],

h4 2.5 - implementujte resolver
solution
  :highlight-js
    @Injectable()
    export class RoomsResolver implements Resolve<Room[]> {
      constructor(private chatService: ChatService) { }

      resolve(route: ActivatedRouteSnapshot, state: RouterStateSnapshot): Observable<Room[]> {
        return this.chatService.getRooms();
      }
    }

h4 2.6 - přidejte resolver
solution
  :highlight-js
    {path: '', component: RoomsComponent, resolve: {rooms : RoomsResolver}},

    ...

    providers: [RoomsResolver]

h4 2.7 - načtěte data z routy

solution
  :highlight-js
    constructor(route: ActivatedRoute) {
      route.data
        .subscribe((data : {rooms : Room[]}) => this.rooms = data.rooms);
    }

h4 2.8 - přidejte routu pro detail

solution
  :highlight-js
    {path: 'room/:id', component: ChatDetailComponent},

h4 2.9 - vytvořte odkazy

solution
  :highlight-js
    <a routerLink="/chat">Rooms</a>

    ...

    <a [routerLink]="['/chat/room', room.id]">{{room.title}}</a>

h3 3 - Parametry routy

h4 3.1 - načtěte id ze snapshotu parametrů
solution
  :highlight-js
    this.chatRoomId = parseInt(this.route.snapshot.params['id']);

h4 3.2 - reagujte na změnu parametrů

solution
  :highlight-js
    // TODO reagujte na změnu parametrů
    this.route.params.subscribe(params => this.chatRoomId = parseInt(params['id']));

h4 3.3 - vytvořte stream změny parametrů

solution
  :highlight-js
    this.routeParams$ = this.route.params
      .map((params : {id: string}) => parseInt(id))
      .distinctUntilChanged()
      .do(id => this.chatRoomId = id);

h4 3.4 - připojte stream změny parametrů

solution
  :highlight-js
    ngOnInit(): void {

      Observable.merge(Observable.interval(5000),
        this.myMessagesStream$,
        this.routeParams$
      )
        .startWith(null)
        .flatMap(() => this.chatService.getRoomById(this.chatRoomId))
        .do(() => console.log('chatReloaded'))
        .subscribe((chatRoom) => this.chatRoom = chatRoom);
    }
