<h3 class="subtitle">Reactive form</h3>

<!--TODO 2.2.1 - propojte formulář s definicí-->
<form novalidate
      (ngSubmit)="onSubmit(userForm)">

  <label class="label" for="userName">Name</label>
  <div class="control">
    <!--TODO 2.2.3 - propojte prvek s formulářem - name-->
    <input class="input" id="userName" type="text"

    />

    <!--TODO 2.4.1 - odkomentujte zobrazení validační hlášky -->
    <!--<app-form-control-errors controlName="name"></app-form-control-errors>-->
  </div>

  <label class="label" for="userSurname">Surname</label>
  <div class="control">
    <!--TODO 2.2.2 - propojte prvek s formulářem - surname-->
    <input class="input" id="userSurname" type="text"

    />

    <!--TODO 2.4.1 - odkomentujte zobrazení validační hlášky -->
    <!--<app-form-control-errors controlName="surname"></app-form-control-errors>-->
  </div>

  <label class="label">Sex</label>
  <div class="control">

    <!--TODO 2.2.3 - propojte prvek s formulářem - sex-->
    <input type="radio" value="male" name="sex"

    /> Male

    <!--TODO 2.2.3 - propojte prvek s formulářem - sex-->
    <input type="radio" value="female" name="sex"

    /> Female
  </div>

  <!--TODO 2.2.2 - přidejte skupinu address-->
  <div>

    <label class="label" for="street">Street</label>
    <div class="control">
      <!--TODO 2.2.3 - propojte prvek s formulářem - stret-->
      <input class="input" id="street" type="text"

      />
    </div>

    <label class="label" for="city">City</label>
    <div class="control">
      <!--TODO 2.2.3 - propojte prvek s formulářem - postalCode-->
      <input class="input" id="city" type="text"

      />
    </div>

    <label class="label" for="postalCode">Postal code</label>
    <div class="control">
      <!--TODO 2.2.3 - propojte prvek s formulářem - postalCode-->
      <input class="input" id="postalCode" type="text"

      />

      <!--TODO 2.4.1 - odkomentujte zobrazení validační hlášky -->
      <!--<app-form-control-errors controlName="postalCode"></app-form-control-errors>-->

    </div>

  </div>

  <div class="control buttons">
    <button class="button is-primary" type="submit">Submit</button>
  </div>

  <!--TODO 2.2.4 - odkomentujte ladící pomůcku-->
  <!--<app-form-metadata-viewer [control]="userForm"></app-form-metadata-viewer>-->
</form>

