h4 Spusťte Angular CLI
p.
  Následujícím příkazem spustíte aplikaci cvičení:

snippet.
  npm run 02-start

p.
  Po spuštění poběží aplikace na adrese #[a(href="http://localhost:4200", target="_blank") localhost:4200].

h3 Popis cvičení

p.
 V tomto cvičení se zaměříme na spolupráci komponent a rozšíříme schopnosti šablon o cykly a podmínky
 Ve cvičení dokončíte zobrazení informace o objednávce, odstraníte duplicitu při zobrazení adres a umožníte přepínat mezi objednávkami ke zpracování.

h3 1. Dokončení šablony objednávky

p.
  Aplikace zobrazuje náhled objednávky, chybí zde ale výpis položek.

ul
  li v šabloně #[em order/order.component.html] je dostupná objednávka #[strong order]
  li položky jsou dostupné v #[strong order.orderItems]
  li tabulka má předpřipravený řádek pro výpis položky

h4 1.1 - odkomentujte a iterujte přes řádky tabulky
ul.task
  li odkomentujte řádek a iterujte přes #[strong order.orderItems]
  li proměnou iterace pojmenujte #[strong item]

hint Pro iteraci použijte direktivu #[strong *ngFor]

solution
  :highlight-html
    <tr *ngFor="let item of order.orderedItems">
       <th>{{item.productId}}</th>
       <th>{{item.productName}}</th>
       <th>{{item.quantity}}</th>
       <th>{{item.pricePerPiece}}</th>
       <th>{{item.totalPrice}}</th>
     </tr>
ul.task
  li zkontrolujte, že se položky objednávky zobrazují

h3 2 - Odstranění duplicity

p.
  Všimněte si duplicity v zobrazení doručovací a fakturační adresy. Zobrazení adresy můžeme zapouzdřit do komponenty a tu použít vícekrát.

h4 2.1 - dekorujte vlastnosti

ul
  li komponenta #[strong OrderAddressComponent] je už připravena včetně šablony #[em order-address.component.html]

ul.task
  li v souboru komponenty #[em order-address.component.ts] si všimněte vlastností #[strong title] a #[strong address]
  li dekorujte vlastnosti jako vstupní parametry stejného jména

hint Použijte dekorátor #[strong @Input()]

solution
  :highlight-js
    export class OrderAddressComponent {

      @Input() title = "Address";
      @Input() address: Address;

    }

h4 2.1 - odstraňte duplicitu použitím komponenty

p.
  Nyní můžeme komponentu použít v šabloně objednávky.

ul.task
  li v šabloně objednávky #[em order.component.html] nahraďte kód šablony obou adres použitím komponenty #[strong OrderAddressComponent]

  li jako parametry #[strong title] a #[strong address]
    ul
      li pro doručovací adresu použijte titulek #[strong Shipping address] a objekt adresy #[strong order.shippingAddress]
      li pro fakturační adresu použijte titulek #[strong Billing address] a objekt adresy #[strong order.billingAddress]
      li zamyslete se jak budete předávat objekt a jak textový řetězec

hint Property binding v komponentě se značí #[strong [vlastnost]="vyhodnocovaný výraz"] nebo #[strong vlastnost="textová hodnota"]

solution
  :highlight-html
    <app-order-address title="Billing address" [address]="order.billingAddress"></app-order-address>

    ...

    <app-order-address title="Shipping address" [address]="order.shippingAddress"></app-order-address>

ul
  li vyzkoušejte, že se obě adresy zobrazují správně

h3 3 - Předávání dat z komponenty

p.
  Předávání dat do komponent je využito i v případě komponenty #[strong OrderComponent].

ul.task
  li v šabloně #[em orders-viewer.component.html] si všimněte, jak jsou data objednávky předávány do komponenty #[strong OrderComponent]
  li všimněte si zde také použité komponenty #[strong OrdersListComponent].
  li prohlédněte si její šablonu a kód
    ul
      li tato komponenta bude sloužit k zobrazení seznamu objednávek a k jejímu výběru

h4 3.1 - doplňte vstupy

p.
  Komponenta #[strong OrdersList] přijímá parametry #[strong orders] a #[strong selectedOrder]

ul.task
  li prohlédněte si kód #[em orders-viewer.component.ts] a všimněte si vlastností #[strong ordersCollection] a #[strong currentOrder]
  li v šabloně #[em orders-viewer.component.html] je předejte komponentě #[strong OrdersListComponent]

solution
  :highlight-html
    <app-orders-list
      [orders]="ordersCollection"
      [selectedOrder]="currentOrder">
    </app-orders-list>

ul
  li podívejte se, že se zobrazuje seznam objednávek a první z nich je zvýrazněná

h4 3.2 - vytvořte výstupní událost onSelect

p.
  Nyní oživíme výběr objednávek. Komponenta #[strong OrdersList] bude vysílat událost, na kterou nadřazená komponenta #[strong OrdersViewerComponent] zareaguje změnou vybrané objednávky.

ul.task
  li v komponentě #[strong OrdersListComponent] vytvořte výstupní událost #[strong onSelect] bude předávat typ #[strong Order]

hint Použijte dekorátor #[strong @Output()].
  br
  | Do vytvořené vlastnosti přiřaďte instanci třídy #[strong EventEmitter<odesílaný typ>].

solution
  :highlight-js
    @Output() onSelect = new EventEmitter<Order>();

h4 3.3 - odešlete událost onSelect

ul.task
  li v metodě #[strong select] odešlete událost #[strong onSelect], jako parametr předejte objednávku #[strong order]

hint Odeslání provedete pomocí metody #[strong emit]

solution
  :highlight-js
    select(order: Order) {
      this.onSelect.emit(order);
    }

h4 3.4 - obslužte výstupní událost

p.
  Komponenta už událost odesílá, teď na ni budeme reagovat v nadřazené komponentě.

ul.task
  li prohlédněte si kód #[em orders-viewer.component.ts] a všimněte si metody #[strong selectOrder]
  li v šabloně #[em orders-view.component.html] reagujte na událost #[strong onSelect] voláním metody #[strong selectOrder]
  li metodě předejte výsledek události

hint Pro předání výsledku události použijte #[strong $event] jako parametr.

solution
  :highlight-html
    <app-orders-list
      [orders]="ordersCollection"
      [selectedOrder]="currentOrder"
      (onSelect)="selectOrder($event)">
    </app-orders-list>

ul.task
  li vyzkoušejte, že přepínání objednávek funguje, ale v jednom okamžiku se zasekne
  li podívejte se do konzole a zkuste se zamyslet co se stalo

h4 3.5 - podmiňte zobrazení doručovací adresy

p.
  Na vině chyby v konzoli je chybějící doručovací adresa v jedné z objednávek. Pokud adresa chybí, nemá smysl ani se ji snažit zobrazovat.

ul.task
  li podmiňte zobrazení bloku s doručovací adresou na základě vlastnosti #[strong order.shippingAddress]

hint Použijte direktivu #[strong *ngIf]

solution
  :highlight-html
    <div class="column" *ngIf="order.shippingAddress">

h3 4 - Vyzkoušejte celou aplikaci

.success Výborně, vyzkoušeli jste si základní šablonové direktivy a propojili jste několik komponent mezi sebou pomocí property a event bindingu.
  br
  | Setkali jste se také s velmi častou chybou způsobenou získáváním vlastností z neexistujícího objektu.
