<div *ngIf="chatRoom">
  <h2 class="title">Room: {{chatRoom.room.title}}</h2>
  <app-chat-form (sendMessage)="sendMyMessage($event)"></app-chat-form>
  <hr />
  <app-chat-messages [room]="chatRoom"></app-chat-messages>
</div>
<div *ngIf="!chatRoom">
  No chatRoom!
</div>
