h4 Spusťte Angular CLI
p.
  Následujícím příkazem spustíte aplikaci cvičení:

snippet.
  npm run 03-start

p.
  Po spuštění poběží aplikace na adrese #[a(href="http://localhost:4200", target="_blank") localhost:4200].

h3 Popis cvičení

p.
  Ve cvičení je připravena komponenta výpočtu ceny knihy v malém vydavatelství.
  Nejprve přesunete do samostatné služby samotný výpočet, potom do služby přesunete i ukládání proběhlých výpočtů.
  Vyzkoušíte si rozdíl v registraci služby na globální úrovni a na úrovni komponenty.
  Nakonec si vyzkoušíte změnu konfigurace služby.

h3 1 - Vytvoření služby

p.
  V komponentě #[strong CalculatorComponent] v souboru #[em calculator/calculator.component.ts] se nachází výpočet ceny.
  Na stránce cvičení jsou zobrazeny tři komponenty pro výpočet.

ul.task
  li vyzkoušejte, jak se komponenty chovají
    ul
      li výpočet i ukládání je nezávislé, děje se přímo v komponentě.
  li prohlédněte si šablonu a volání v metodě #[strong getPrice()]
  li vytvořte službu #[strong CalculatorService] pomocí #[strong angular-cli]
    snippet.
      ng generate service calculator

h4 1.1 - registrujte službu na úrovni modulu

p.
  služba #[strong CalculatorService] je vytvořena, není ale zatím nikde registrována

ul.task
  li registrujte službu na úrovni modulu v #[em app.module.ts]

hint Přidejte službu do vlastnosti #[strong providers]

solution
  :highlight-js
    providers: [CalculatorService],

h4 1.2 - injektněte službu do komponenty

ul.task
  li injektněte službu #[strong CalculatorService] do komponenty #[strong CalculatorComponent]

hint Stačí ji uvést jako parametr konstruktoru komponenty.

solution
  :highlight-js
    constructor(private calculator: CalculatorService) {
      this.clearCalculator()
    }

h4 1.3 - přesuňte výpočet do služby

ul.task
  li přesuňte metodu #[strong calculate] z komponenty do služby #[strong CalculatorService]
  li v metodě #[strong getPrice] provolejte metodu služby
  li upravte volání i v metodě #[strong saveCalculation]

solution
  :highlight-js
    getPrice() {
      return this.calculator.calculate(this.book);
    }

    ...

    saveCalculation(book: Book) {
      book.price = this.calculator.calculate(book);
      this.savedCalculations.push(book);
    }


ul.task
  li vyzkoušejte, že výpočet stále funguje

h3 2 - Registrace služby na úrovni komponenty

p.
  V komponentě se ukládají také data uložených výpočtů, chtěli bychom je ale na úrovni služby sdílet mezi komponentami.
  Služba nám zde může sloužit i jako nositel dat.

h4 2.1 - přesuňte ukládané výpočty do služby

ul.task
  li přesuňte deklaraci vlastnosti #[strong savedCalculations] a metodu #[strong saveCalculation] do služby #[strong CalculatorService]
  li v metodě #[strong saveCalculation] opět upravte volání metody #[strong calculate]
  li provolejte metodu služby v metodě #[strong save]
  li získejte vlastnost ze služby v metodě #[strong getCalculations]

solution
  em
    strong calculator.service.ts
  hr
  :highlight-js
    savedCalculations: Book[] = [];

    saveCalculation(book: Book) {
      book.price = this.calculate(book);
      this.savedCalculations.push(book);
    }

  hr
  em
    strong calculator.component.ts
  hr
  :highlight-js
    save() {
      // TODO 2.1 - provolejte metodu služby
      this.calculator.saveCalculation(this.book);
      this.clearCalculator();
    }

    getCalculations() {
      // TODO 2.1 - získejte vlastnost ze služby
      return this.calculator.savedCalculations;
    }

ul.task
  li vyzkoušejte, jak ukládání funguje nyní
    ul
      li uložené výpočty jsou zobrazovány napříč komponentami

h4 2.2 - registrujte službu na úrovni komponenty

ul.task
  li prohlédněte si šablonu #[strong app.component.html]
    ul
      li obsahuje tři komponenty #[strong CalculatorComponent], jedna je obalena komponentou #[strong SaleComponent]

p.
  Komponenta #[strong SaleComponent] díky stylu definovanému v #[em app.component.css] barevně zvýrazňuje komponentu výpočtu,
  chtěli bychom ale také aby vytvářela pro zanořené komponenty samostatný prostor pro výpočet

ul.task
  li registrujte službu #[strong CalculatorService] v komponentě #[strong SaleComponent]

hint Také zde slouží pro registraci kolekce #[strong providers]

solution
  :highlight-js
    @Component({
      selector: 'app-sale',
      templateUrl: './sale.component.html',
      providers: [CalculatorService]
    })
    export class SaleComponent  {}

ul.task
  li ověřte, zvýrazněná komponenta používá vlastní službu #[strong CalculatorService] a tedy má také vlastní uložené výpočty

h3 3 - Konfigurace služby

p.
  Komponenta #[strong SaleComponent] pro zanořené komponenty poskytuje službu pro výpočet, chtěli bychom ale změnit její parametry a aplikovat zde slevu.

h4 3.1 - přidání možnosti konfigurace

ul.task
  li ve službě #[strong CalculatorService] přidejte do konstruktoru parametr typu číslo a uložte ho jako vlastnost #[strong basePrice]
  li v metodě #[strong calculate] zrušte lokální proměnou #[strong basePrice] a využijte vytvořenou vlastnost

p.
  Aby se injektor nepokoušel tuto vlastnost injektovat, musíte parametr nastavit jako volitelný.

ul.task
  li označte parametr jako volitelný
  li nastavte defaultní hodnotu na 10, v případě, že bude parametr null

.warning Pozor, hodnotu musíte opravdu ošetřit ručně porovnáním na #[strong null], NELZE zde použít defaultní parametr.

hint Označte parametr jako #[strong @Optional()].

solution
  :highlight-js
    constructor(@Optional() private basePrice: number) {
      if (this.basePrice === null) {
        this.basePrice = 10;
      }
    }

    calculate(book: Book) {
      ...

      let price = this.basePrice;

      ...

h4 3.2 - vytvořte definici provideru

ul.task
  li ve stejném souboru #[em calculator.service.ts] definujte proměnnou #[strong saleCalculatorProvider] a exportujte ji
  li uložte do ní definici provideru, kde token bude #[strong CalculatorService] a závislost bude vytvářena pomocí factory
  li v faktory vytvořte novou instanci #[strong CalculatorService], jako parametr #[strong basePrice] předejte 0

hint
  snippet
    :highlight-js
      { provide: DIToken, useFactory: () => ... }

solution
  :highlight-js
    export const saleCalculatorProvider = {
      provide: CalculatorService, useFactory: () => new CalculatorService(0)
    };


h4 3.3 - použijte provider služby se slevou

ul.task
  li v komponentě #[strong SaleComponent] nahraďte původní registraci #[strong CalcualtorService] vytvořeným providerem

solution
  :highlight-js
    @Component({
      selector: 'app-sale',
      templateUrl: './sale.component.html',
      providers: [saleCalculatorProvider]
    })

ul.task
  li vyzkoušejte, že zvýrazněná kalkulačka počítá se slevou a ostatní beze slevy

h3 4 - Vyzkoušejte celou aplikaci

.success Výborně, vytvořili jste službu, použili ji v komponentě, přidali hierarchický injektor a vlastní konfiguraci pomocí factory.
