<div class="columns">
  <div class="column is-3">

    <!--TODO 3.1 - doplňte vstupy-->
    <!--TODO 3.4 - obslužte výstupní událost-->
    <app-orders-list></app-orders-list>

  </div>
  <div class="column">
    <app-order [order]="currentOrder"></app-order>
  </div>
</div>
