<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image" style="height: 40px; width: 40px;">
          <img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{user.name}} {{user.surname}} ( {{getSexLetter()}} )</p>
        <p class="subtitle is-6">{{user.twitterName}}</p>
      </div>
    </div>

    <div class="content">
      {{user.address.street}} <br/>
      {{user.address.city}} {{user.address.postalCode}} <br />
      <small>Joined {{user.registrationDate | date}}</small>
    </div>
  </div>
</div>
